button{
    
    margin-left: 150px;
    margin: 8px;
    /* padding: 10px; */
}
.btn-group{
    margin-left: 125px;
}

.card{
    margin-left: 330px;
    
}
.btnSesion{
    margin-left: 200px;
}

img{
    width: 50px;
}