<div class="card col-5">
    <div class="card-header">
        Agregar Usuario
    </div>
    <div class="card-body">
        <form ngNativeValidate [formGroup]="formularioDeUsuario" (ngSubmit)="enviarDatos()">
            <div class="mb-3">
                <label for="" class="form-label">Nombre</label>
                <input required type="text" class="form-control" name="" formControlName="nombre" id=""
                    aria-describedby="helpId" placeholder="Escribe el nombre">

            </div>
            <div class="mb-3">
                <label for="" class="form-label">Correo electronico</label>
                <input required type="email" class="form-control" name="" formControlName="correo" id=""
                    aria-describedby="helpId" placeholder="Escribe el usuario">

            </div>

            <div class="mb-3">
                <label for="" class="form-label">Contraseña</label>
                <input required type="text" class="form-control" name="" formControlName="contrasena" id=""
                    aria-describedby="helpId" placeholder="Escribe la contraseña">

            </div>

            <div class="mb-3">
                <label for="" class="form-label">Tipo de usuario</label>
                <select class="form-control" name=""  formControlName="tipo_usuario" id="">
                  <option>Usuario</option>
                  <option>Administrador</option>
                  
                </select>
              </div>

            <div class="btn-group" role="group" aria-label="">
                <button type="submit" class="btn btn-success">Modificar</button>
                <button type="button" routerLink="/listar-usuarios/" class="btn btn-primary">Cancelar</button>
            </div>

        </form>
    </div>

</div>
