<mat-paginator [length]="Equipos.length"
               [pageSize]="page_size"
               [pageSizeOptions]="pageSizeOptions"
               (page)="handlePage($event)"
               showFirstLastButtons
               aria-label="Select page">
</mat-paginator>

<div class="card">
    <div class="card-header">        
        <a class="btn btn-success" routerLink="/agregar-equipo/" >Agregar equipo</a>
    </div>
    <div class="card-body">
        <h1>Equipos de futbol por torneo</h1>
        <input type="text" class="form-control" name="filterPost" placeholder="Buscar" [(ngModel)]="filterPost">
       <table class="table">
           <thead>
               <tr>
                   <th>Id</th>
                   <th>Nombre</th>
                   <th>Pais</th>                   
                   <th>Torneo</th>        
                   <th>Acciones</th>
               </tr>
           </thead>
           <tbody>
               <tr *ngFor="let equipo of Equipos | filter:filterPost | paginate:page_size:page_number; let iControl=index">
                   <td >{{equipo.id_equipo}}</td>
                   <td>{{equipo.nombre}}</td>
                   <td>{{equipo.pais}}</td>                   
                   <td>{{equipo.torneo}}</td>  
                   <td><a class="btn btn-primary" routerLink="/editar-equipo-futbol/{{equipo.id_equipo}}" >Editar</a>  |
                    
                    <a class="btn btn-danger" (click)="borrarRegistro(equipo.id_equipo,iControl)" role="button">Eliminar</a> |
                    <a class="btn btn-secondary" routerLink="/listar-partido-equipo-futbol/{{equipo.nombre}}" >Ver partidos</a> 
                    </td>
               </tr>              
           </tbody>
       </table>
       
    </div>
    
</div>

