.card{
    /* align-items: center; */
    /* align-self: center; */
}

button{
    
    margin-left: 150px;
    margin: 8px;
    /* padding: 10px; */
}
.btn-group{
    /* text-align: center; */
    align-items: center;
    align-self: center;
}

.card body{
    align-items: center;
    align-self: center;
}