<div class="card row justify-content-center">
    <div class="card-header">
        Agregar torneo
    </div>
    <div class="card-body">
        <form ngNativeValidate [formGroup]="formularioDeTorneo" (ngSubmit)="enviarDatos()">
            <div class="mb-3">
              <label for="" class="form-label">Nombre</label>
              <input required type="text"
                class="form-control" name="" formControlName="nombre" id="" aria-describedby="helpId" placeholder="Escribe el nombre">
              
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Pais/Lugar</label>
                <input required type="text"
                  class="form-control" name="pais" formControlName="pais" id="" aria-describedby="helpId" placeholder="Escribe el pais">
                
              </div>
            <div class="mb-3">
              <label for="" class="form-label">Deporte</label>
              <select class="form-control" name="" required formControlName="tipo_torneo" id="">
                <option>Futbol</option>
                <option>Basquetbol</option>
                
              </select>
            </div>

            <div class="btn-group " role="group" aria-label="">
                <button type="submit" class="btn btn-success">Agregar</button>
                <button type="button" routerLink="/home/" class="btn btn-primary">Cancelar</button>                
            </div>

        </form>
    </div>
   
</div>