<div class="card col-5">
    <div class="card-header">
        Agregar equipo de Futbol
    </div>
    <div class="card-body">
        <form ngNativeValidate [formGroup]="formularioDeEquipo" (ngSubmit)="enviarDatos()">
            <div class="mb-3">
              <label for="" class="form-label">Nombre</label>
              <input required type="text"
                class="form-control" name="" formControlName="nombre" id="" aria-describedby="helpId" placeholder="Escribe el nombre">
              
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Pais</label>
                <input required type="text"
                  class="form-control" name="pais" formControlName="pais" id="" aria-describedby="helpId" placeholder="Escribe el pais">
                
              </div>
                                    
            <div class="mb-3">
              <label for="" class="form-label">Torneo</label>
              <select class="form-control" name="" required formControlName="torneo" id="">
                <option *ngFor="let torneo of Torneos; let iControl=index">{{torneo.nombre}}</option>
                                  
              </select>
            </div>

            <div class="btn-group" role="group" aria-label="">
                <button type="submit" class="btn btn-success">Agregar</button>
                <button type="button" routerLink="/listar-equipo-futbol/" class="btn btn-primary">Cancelar</button>                
            </div>

        </form>
    </div>
   
</div>
