<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="nav navbar-nav">
      <img src="./assets/fut_basquet.jpg">     
      <a  class="nav-item nav-link active" href="#">Torneos <span class="visually-hidden">(current)</span></a>
      <a class="nav-item nav-link" routerLink="/home">Home</a>
  
  
      <ul class="nav nav-pills">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-expanded="false">
            Torneos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a *ngIf="usuario=='false'" class="dropdown-item" routerLink="/agregar-torneo">Agregar torneo</a></li>
            <li><a class="dropdown-item" routerLink="/listar-torneo">Ver torneos de futbol</a></li>
            <li>
              <!-- <hr class="dropdown-divider"> -->
            </li>
            <li><a class="dropdown-item" routerLink="/listar-torneo-basquetbol">Ver torneos de basquetbol</a></li>
          </ul>
        </li>
      </ul>
  
      <!-- <div class="container">
        
        <ul class="nav nav-pills">
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Opcones de torneo 2</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </li>          
        </ul>
      </div> -->
  
      <ul class="nav nav-pills">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-expanded="false">
            Futbol
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a *ngIf="usuario=='false'" class="dropdown-item" routerLink="/agregar-equipo">Agregar equipo</a></li>
            <li><a class="dropdown-item" routerLink="/listar-equipo-futbol">Ver equipos de futbol</a></li>
            <!-- <li><a class="dropdown-item" routerLink="agregar-partido-futbol">Agregar partido de futbol</a></li> -->
            <li><a class="dropdown-item" routerLink="/listar-partido-futbol">Ver partidos de futbol</a></li>
            <li>
              <!-- <hr class="dropdown-divider"> -->
            </li>
          </ul>
        </li>
      </ul>
  
      <ul class="nav nav-pills">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-expanded="false">
            Basquetbol
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a  *ngIf="usuario=='false'" class="dropdown-item" routerLink="/agregar-equipo-basquetbol">Agregar equipo</a></li>
            <li><a class="dropdown-item" routerLink="/listar-equipo-basquetbol">Ver equipos de basquetbol</a></li>
            <!-- <li><a class="dropdown-item" routerLink="agregar-partido-basquetbol">Agregar partido de basquetbol</a></li> -->
            <li><a class="dropdown-item" routerLink="/listar-partido-basquetbol">Ver partidos de basquetbol</a></li>
            <li>
              <!-- <hr class="dropdown-divider"> -->
            </li>
          </ul>
        </li>
      </ul>
      <ul *ngIf="usuario=='false'" class="nav nav-pills">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-expanded="false">
            Estadisticas
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/graficas-futbol">Equipos de futbol con mas partidos jugados</a></li>
            <li><a class="dropdown-item" routerLink="/listar-equipo-basquetbol">Equipos de futbol con menos partidos jugados</a></li>
            <li><a class="dropdown-item" routerLink="/listar-equipo-basquetbol">Equipos de basquetbol con mas partidos jugados</a></li>
            <li><a class="dropdown-item" routerLink="/listar-equipo-basquetbol">Equipos de basquetbol con menos partidos jugados</a></li>
            <!-- <li><a class="dropdown-item" routerLink="agregar-partido-basquetbol">Agregar partido de basquetbol</a></li> -->
            <li><a class="dropdown-item" routerLink="/listar-partido-basquetbol">Ver partidos de basquetbol</a></li>
            <li>
              <!-- <hr class="dropdown-divider"> -->
            </li>
          </ul>
        </li>
      </ul>
      <a *ngIf="usuario=='false'" class="nav-item nav-link" routerLink="/listar-usuarios">Ver usuarios</a>
  
      <button class="btn-dark text-light btnSesion" routerLink="/login" > Cerrar sesion</button>
  
    </div>
  </nav>
  <br>
  
<div class="card">
    <div class="card-header">        
        
    </div>
    <div class="card-body">
        <h1>Tabla de clasificacion</h1>
        
       <table class="table">
           <thead>
               <tr>
                   <th>Posicion</th>
                   <th>Equipo</th>
                   <th>PJ</th>
                   <th>G</th>
                   <th>E</th>
                   <th>P</th>
                   <th>GF</th>                   
                   <th>GC</th> 
                   <th>Pts</th>
               </tr>
           </thead>
           <tbody>
               <tr *ngFor="let equipo of Equipos; let iControl=index">
                <td >{{1}}</td>
                   <td >{{equipo.equipo}}</td>
                   <td>{{equipo.partidos_jugados}}</td>
                   <td>{{equipo.ganados}}</td>
                   <td>{{equipo.empates}}</td>
                   <td>{{equipo.perdidos}}</td>
                   <td>{{equipo.goles_favor}}</td>
                   <td>{{equipo.goles_contra}}</td>
                   <td>{{equipo.puntos}}</td>
                   
                   <!-- <td><a class="btn btn-primary" routerLink="/editar-partido-futbol/{{partido.id_partido}}" >Editar</a>  |
                    
                    <a class="btn btn-danger" (click)="borrarRegistro(partido.id_partido,iControl)" role="button">Eliminar</a>
                    
                    </td> -->
               </tr>              
           </tbody>
       </table>
       
    </div>
    
</div>

